<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/metaHead') %>
    </head>
    <header>
        <%- include('../partials/authHeader') %>
    </header>
    <hr>
    <body>
        <%- body %>
    </body>
    <hr>
    <footer>
        <%- include('../partials/footer') %>
    </footer>
</html>