<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/metaHead') %>
    </head>
    <header>
        <%- include('../partials/header') %>
    </header>
    <hr>
    <body>
        <nav class="bodyNav">
            <!-- TODO: for here people can add many tags first then click search, so it will be a form submission -->
            <form action="/routes/co-dreamers.js" method="POST">
                <ul>
                    <label for="region">Region</label>
                    <select name="region" id="region">
                        <!-- FIXME: import countries -->
                    </select>
                </ul>
                <input type="submit" />
            </form>
        </nav>
        <%- body %>
    </body>
    <hr>
    <footer>
        <%- include('../partials/footer') %>
    </footer>
</html>
