<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <!-- include header from partials file -->
    <%- include('../partials/header') %>
    <hr>
    <body>
        <nav class="bodyNav">
            <ul>
                <!-- Browse under a category -->
                <label for="browse">Browse</label>
                <select name="browse" id="browse">
                    <option value="blank"></option>
                    <option value="technology">Technology</option>
                    <option value="biology">Biology</option>
                </select>
                &emsp;
                <label for="sort">Sort by</label>
                <select name="sort" id="sort">
                    <option value="blank"></option>
                    <option value="hit">Hit</option>
                    <option value="new">New</option>
                    <option value="top">Top</option>
                </select>
            </ul>
        </nav>
        <!-- import body of ejs here -->
        <%- body %>
    </body>
    <hr>
    <footer>

    </footer>
</html>