<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/metaHead') %>
    </head>
    <!-- include header from partials file -->
    <header>
        <%- include('../partials/header') %>
    </header>
    <hr>
    <body>
        <!-- import body of ejs here -->
        <%- body %>
    </body>
    <hr>
    <footer>
        <%- include('../partials/footer') %>
    </footer>
</html>