<html>
    <head>
        <title>Co-Dreamers</title>
    </head>
    <body>
        <h2>This is the creators index page (all creators)</h2>
        <a href="creators/new">New dreamers</a>
    </body>
</html>