<html>
    <head>
        <title>Upollomer</title>
        <meta name="description" content="Upollomer is the website that contains the most complete start-up agglomeration to connect people, especially local youth, who share the same goal and enthusiasm about having a start up. The aim of Upollomer is more than just provide a platform to gather passionate people but also trying to achieve an ultimate objective, the blockchainization of technical ability.">
    </head>
    <body class="project-flex">
        <section class="popular-flex">
            <strong>Popular</strong>
    
        </section>
        <br>
        <section class="cuttingEdge-flex">
            <strong>Cutting-Edge (including new research papers, market news, etc.)</strong>
    
        </section>
    </body>
</html>