<html>
    <head>
        <title>Log in —— Upollomer</title>
    </head>
    <body>
        <header>
            <h1>Upollomer</h1>
            <h2>Log in</h2>
        </header>
        <section class="loginForm">
            <form action="/login" method="POST">
                
            </form>
        </section>
    </body>
</html>