<!-- Before direct to this page, authenticate if logged in -->
<h3>Start your dream by implementing ideas</h3>
<form action="/ideas" method="POST" enctype="multipart/form-data">
    <%- include('_form_fields') %>
    <br>
    <div class="createFormSubmit">
        <a href="/ideas">Cancel</a>
        &emsp;
        <button type="submit">Create</button>
    </div>
    
</form>