<html>
    <head>
        <title>Hit Ideas —— Upollomer</title>
    </head>
    <body>
        <h2>This is the Hit Idea page</h2>
        <% ideas.forEach(idea => { %>
            <div><%= idea.title %></div>
            <div><%= idea.description %></div>
            <br>
        <% }) %>
    </body>
</html>