<html>
    <head>
        <title>Hit Ideas —— Upollomer (lots of recent clicks)</title>
    </head>
    <body>
        <h2>This is the Hit (index) Idea page</h2>
        <div>
            <% ideas.forEach(idea => { %>
                <% if (idea.coverImgPath) { %> 
                    <img height="135" width="240" src="<%= idea.coverImgPath %>">
                <% } %> 
                <div><%= idea.title %></div>
                <div><%= idea.description %></div>
                <div><%= idea.date.toISOString().split('T')[0] %></div>
                <br>
            <% }) %>
            <!-- FIXME: preview devLogs -->
        </div>
    </body>
</html>