<html>
    <head>
        <title>New Ideas —— Upollomer (descending order of date)</title>
    </head>
    <body>
        <h2>This is the NEW ideas page</h2>
        <div>
            <% ideas.forEach(idea => { %>
                <% if (idea.coverImgPath) { %> 
                    <img height="135" width="240" src="<%= idea.coverImgPath %>">
                <% } %> 
                <br>
                <div><%= idea.title %></div>
                <div><%= idea.description %></div>
                <div><%= idea.date.toISOString().split('T')[0] %></div>
                
            <% }) %>
        </div>
    </body>
</html>