<html>
    <head>
        <title>Top Ideas —— Upollomer (most fund raised ideas)</title>
    </head>
    <body>
        <h2>This is the TOP ideas page</h2>
        <div>
            <% ideas.forEach(idea => { %>
                <div><%= idea.title %></div>
                <div><%= idea.description %></div>
                <div><%= idea.date.toISOString().split('T')[0] %></div>
                <% if (idea.logoPath) { %> 
                    <img height="150" width="100" src="<% idea.logoPath %>">
                <% } %> 
                <br>
            <% }) %>
        </div>
    </body>
</html>